<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="CarloanhomeLoan">
  
    <classes>
      <class name="test.homeLoan"/>
      <class name="test.Carloan"/> 
      
      </classes>
      </test><!-- Test -->
    <test thread-count="5" name="personalLoan">  
     <classes>
  <class name="test.personalLoan"/>
  </classes>
  
  
  
  </test>
</suite> <!-- Suite -->
